<ion-content>
<div style="height:40px";></div>
   <div class="bar bar-header bar-stable">
      <button class = "button button-icon icon ion-home" ng-click="returnToMain()"></button>
      <h1 class = "title">Information</h1>
  </div>
  <div style="height:40px"></div>

  <div class="list">
    <label class="item item-input">
      <span class="input-label">First Name</span>
      <input id="firstname" type="text">
    </label>
    <label class="item item-input">
      <span class="input-label">Last Name</span>
      <input id="lastname" type="text">
    </label>
      <label class="item item-input">
      <span class="input-label">Date of Birth:</span>
      <input id="dob" type="date"></input>
    </label>
    <label class="item item-input">
      <span class="input-label">Occupation</span>
      <input id="occupation" type="text">
    </label>
    <label class="item item-input">
      <span class="input-label">City of Residence</span>
      <input id="residence" type="text">
    </label>
    <label class="item item-input">
      <span class="input-label">Ethnicity</span>
      <input id="ethnicity" type="text">
    </label>
    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          Sex:
        <select id="sex">
          <option>Male</option>
          <option>Female</option>
        </select>
      </label>
    </div>
    </div>
    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          Socioeconomic Status:
        <select id="ses">
          <option>Low</option>
          <option>Medium</option>
          <option>High</option>
        </select>
      </label>
    </div>
    </div>
    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          Family History of Hearing Loss:
        <select id="hearinghistory">
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
    </div>
    </div>
        <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          Family History of Autism:
        <select id="authistory">
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          Go Hunting Occasionally:
        <select id="hunting">
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          Live in a Rural or Urban Area:
        <select id="area">
          <option>Rural</option>
          <option>Urban</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          I have a problem hearing over the telephone:
        <select id="Q1">
          <option>Strongly Disagree</option>
          <option>Moderately Disagree</option>
          <option>No Opinion</option>
          <option>Moderarely Agree</option>
          <option>Strongly Agree</option>
        </select>
      </label>
    </div>
    </div>


    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          I have trouble understanding things on TV:
        <select id="Q2">
          <option>Strongly Disagree</option>
          <option>Moderately Disagree</option>
          <option>No Opinion</option>
          <option>Moderarely Agree</option>
          <option>Strongly Agree</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          I have to strain to understand conversations:
        <select id="Q3">
          <option>Strongly Disagree</option>
          <option>Moderately Disagree</option>
          <option>No Opinion</option>
          <option>Moderarely Agree</option>
          <option>Strongly Agree</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          I have trouble hearing speech in a noisy area:
        <select id="Q4">
          <option>Strongly Disagree</option>
          <option>Moderately Disagree</option>
          <option>No Opinion</option>
          <option>Moderarely Agree</option>
          <option>Strongly Agree</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          I avoid social activities because I cannot hear well:
        <select id="Q5">
          <option>Strongly Disagree</option>
          <option>Moderately Disagree</option>
          <option>No Opinion</option>
          <option>Moderarely Agree</option>
          <option>Strongly Agree</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          Many people I talk to seem to mumble:
        <select id="Q6">
          <option>Strongly Disagree</option>
          <option>Moderately Disagree</option>
          <option>No Opinion</option>
          <option>Moderarely Agree</option>
          <option>Strongly Agree</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          I have trouble hearing women and children speak: 
        <select id="Q7">
          <option>Strongly Disagree</option>
          <option>Moderately Disagree</option>
          <option>No Opinion</option>
          <option>Moderarely Agree</option>
          <option>Strongly Agree</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          I struggle to hear speech in a large room: 
        <select id="Q8">
          <option>Strongly Disagree</option>
          <option>Moderately Disagree</option>
          <option>No Opinion</option>
          <option>Moderarely Agree</option>
          <option>Strongly Agree</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          I often need to ask people to repeat themselves: 
        <select id="Q9">
          <option>Strongly Disagree</option>
          <option>Moderately Disagree</option>
          <option>No Opinion</option>
          <option>Moderarely Agree</option>
          <option>Strongly Agree</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          I listen to loud music frequently: 
        <select id="Q10">
          <option>Strongly Disagree</option>
          <option>Moderately Disagree</option>
          <option>No Opinion</option>
          <option>Moderarely Agree</option>
          <option>Strongly Agree</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          I attend loud concerts occasionally: 
        <select id="Q11">
          <option>Strongly Disagree</option>
          <option>Moderately Disagree</option>
          <option>No Opinion</option>
          <option>Moderarely Agree</option>
          <option>Strongly Agree</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          I have served in the military:
        <select id="Q12">
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
    </div>
    </div>
  <center>
    <button class="button button-calm button-block" ng-click="saveInfo()">Save</button>
    <button class="button button-calm button-block" ng-click="logOut()">Sign Out</button>
  </center>
</ion-content>
