<ion-content>
<div style="height:40px";></div>
   <div class="bar bar-header bar-stable">
      <button class = "button button-icon icon ion-home" ng-click="returnToMain()"></button>
      <h1 class = "title">Information</h1>
  </div>
  <div style="height:40px"></div>

  <div class="list">
    <label class="item item-input">
      <span class="input-label"><h2>First Name:</h2></span>
      <input id="firstname" type="text">
    </label>
    <label class="item item-input">
      <span class="input-label"><h2>Last Name:</h2></span>
      <input id="lastname" type="text">
    </label>
      <label class="item item-input">
      <span class="input-label"><h2>Date of Birth:</h2></span>
      <input id="dob" type="date"></input>
    </label>
    <label class="item item-input">
      <span class="input-label"><h2>Occupation:          </h2></span>
      <input id="occupation" type="text">
    </label>
    <label class="item item-input">
      <span class="input-label"><h2>City of Residence:          </h2></span>
      <input id="residence" type="text">
    </label>
    <label class="item item-input">
      <span class="input-label"><h2>Ethnicity:           </h2></span>
      <input id="ethnicity" type="text">
    </label>
    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          <h2> Sex: </h2>
        <select id="sex">
          <option>Male</option>
          <option>Female</option>
        </select>
      </label>
    </div>
    </div>
    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          <h2> Socioeconomic Status: </h2>
        <select id="ses">
          <option>Low</option>
          <option>Medium</option>
          <option>High</option>
        </select>
      </label>
    </div>
    </div>
    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label"> <h3>
          Family History of Hearing Loss:</h3>
        <select id="hearinghistory">
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
    </div>
    </div>
        <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label"> <h3> Family History of Autism: </h3>
        <select id="authistory">
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label"> <h3> Go Hunting Occasionally: </h3>
        <select id="hunting">
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label"> <h3>
          Live in a Rural or Urban Area:</h3>
        <select id="area">
          <option>Rural</option>
          <option>Urban</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          <h4>I have a problem <br/> hearing over the <br/> telephone:</h4>
        <select id="Q1">
          <option>Strongly Disagree</option>
          <option>Moderately Disagree</option>
          <option>No Opinion</option>
          <option>Moderarely Agree</option>
          <option>Strongly Agree</option>
        </select>
      </label>
    </div>
    </div>


    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          <h4>I have trouble <br/> understanding <br/> things on TV:</h4>
        <select id="Q2">
          <option>Strongly Disagree</option>
          <option>Moderately Disagree</option>
          <option>No Opinion</option>
          <option>Moderarely Agree</option>
          <option>Strongly Agree</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          <h4>I have to strain to <br/> understand <br/> conversations:</h4>
        <select id="Q3">
          <option>Strongly Disagree</option>
          <option>Moderately Disagree</option>
          <option>No Opinion</option>
          <option>Moderarely Agree</option>
          <option>Strongly Agree</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          <h4>I have trouble <br /> hearing speech <br /> in a noisy area:</h4>
        <select id="Q4">
          <option>Strongly Disagree</option>
          <option>Moderately Disagree</option>
          <option>No Opinion</option>
          <option>Moderarely Agree</option>
          <option>Strongly Agree</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          <h4>I avoid social <br /> activities because <br / >I can't hear well:</h4>
        <select id="Q5">
          <option>Strongly Disagree</option>
          <option>Moderately Disagree</option>
          <option>No Opinion</option>
          <option>Moderarely Agree</option>
          <option>Strongly Agree</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          <h4>Many people I <br/> talk to seem <br/> to mumble:</h4>
        <select id="Q6">
          <option>Strongly Disagree</option>
          <option>Moderately Disagree</option>
          <option>No Opinion</option>
          <option>Moderarely Agree</option>
          <option>Strongly Agree</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          <h4>I have trouble <br/> hearing women and <br/> children speak:</h4>
        <select id="Q7">
          <option>Strongly Disagree</option>
          <option>Moderately Disagree</option>
          <option>No Opinion</option>
          <option>Moderarely Agree</option>
          <option>Strongly Agree</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          <h4>I struggle to hear <br/> speech in a <br/> large room:</h4>
        <select id="Q8">
          <option>Strongly Disagree</option>
          <option>Moderately Disagree</option>
          <option>No Opinion</option>
          <option>Moderarely Agree</option>
          <option>Strongly Agree</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          <h4>I often need to ask <br/> people to repeat <br/> themselves:</h4>
        <select id="Q9">
          <option>Strongly Disagree</option>
          <option>Moderately Disagree</option>
          <option>No Opinion</option>
          <option>Moderarely Agree</option>
          <option>Strongly Agree</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          <h4>I listen to loud <br/> music frequently:</h4>
        <select id="Q10">
          <option>Strongly Disagree</option>
          <option>Moderately Disagree</option>
          <option>No Opinion</option>
          <option>Moderarely Agree</option>
          <option>Strongly Agree</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          <h4>I attend loud <br/> concerts <br/> occasionally:</h4>
        <select id="Q11">
          <option>Strongly Disagree</option>
          <option>Moderately Disagree</option>
          <option>No Opinion</option>
          <option>Moderarely Agree</option>
          <option>Strongly Agree</option>
        </select>
      </label>
    </div>
    </div>

    <div class="list">
      <label  class="item item-input item-select">
        <div class="input-label">
          <h4>I have served in the military:</h4>
        <select id="Q12">
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
    </div>
    </div>
  <center>
    <button class="button button-calm button-block" ng-click="saveInfo()">Save</button>
    <button class="button button-calm button-block" ng-click="logOut()">Sign Out</button>
  </center>
</ion-content>
