<ion-view>
  <ion-content  style="background-color: #0033cc">
  <div style="height:3px"></div>
  <h1 style="text-align:center;color:#33cd5f;">Test Your Hearing</h1>
  <center>
  <img src="img/ear.png" style="width:250px;height:208px;">
  </center>
  <div style="height:10px"></div>
    <button class="button button-balanced button-full" ng-click="startTest()">
    	Start Test
    	</button>
    	<div style="height:1px"></div>
    	<button class="button button-balanced button-full" ng-click="pastResults()">
    	View Past Results
    	</button>
    	<div style="height:1px"></div>
    	<button class="button button-balanced button-full" ng-click="updateInformation()">
    	Update Information
    	</button>
    	<div style="height:1px"></div>
    	<button class="button button-balanced button-full">
    	Schedule Test
    	</button>
      </ion-content>
    </ion-view>"
