<ion-view>
  <ion-content>
  <div style="height:3px"></div>
  <h1><b>HearMe</b></h1>
  <center>
  <img src="img/ear.png" style="width:250px;height:208px;">
  </center>
  <div style="height:10px"></div>
    <button class="button button-calm button-block icon icon-right ion-arrow-right-b " ng-click="startTest()" >
    	 Start Test 
    	</button>
    	<div style="height:1px"></div>
    	<button class="button button-calm button-block icon icon-right ion-stats-bars " ng-click="pastResults()" >
    	 View Past Results
    	</button>
    	<div style="height:1px"></div>
    	<button class="button button-calm button-block icon icon-right ion-edit " ng-click="updateInformation()" >
    	 Update Information
    	</button>
    	<div style="height:1px"></div>
    	<button class="button button-calm button-block icon icon-right ion-calendar " ng-click="scheduleTest()" >
    	 Schedule Test
    	</button>
      </ion-content>
    </ion-view>"
