<ion-content>
   	<div class="bar bar-header bar-stable">
	    <button class = "button button-icon icon ion-home" ng-click="returnToMain()"></button>
	    <h1 class = "title">Schedule Test</h1>
    </div>
	<div style="height:40px";></div>
	 <label class="item item-input">
	  	<span class="input-label">Next Test Date:</span>
	    <input type="date" id="myDate"></input>
	</label>
	<h4 class="text-left calm" style="font-size:20px" ng-if="successMessage">{{ successMessage }}</h4>
  	<div ng-if="!successMessage" style="height:35px"></div>
	<button class="button button-calm button-full" ng-click="scheduleTest()">Schedule</button>
</ion-content>

