<ion-content style="background-color: #0033cc">
<div style="height:20px";></div>
<center>
<h2 style="color:#33cd5f;">Test Result</h2>
<h4 style="color:#33cd5f;">{{result.date}}</h4>
</center>
<div class="card">
        <div class="item item-text-wrap">
            <div class="panel-body">
    	<canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" series="series" chart-options="lineOptions"></canvas>
  </div>
        </div>
    </div>
	<h2 style="text-align:left;color:#33cd5f">
&nbspThreshold:
<span style="float:right;">{{result.score}} dB&nbsp</span>
</h2>
<div style="height:20px";></div>
<center>
<button class="button button-balanced" ng-click="returnToMain()">Return to Main Menu</button>
</center>
</ion-content>